@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
    --color-primary: #c458f5;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #242424;
    --color-background: #fff;
    --color-background-secondary: #f4f4f4;
    --color-background-secondary: #f4f4f4;
    --color-button-backgroud: #fafefd;
    --color-background-footer: var(--footer-gradiente);
    --card-border-radius: 8px;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 0.5rem 1rem var(--color-light);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
  
    /* Gradiente Colors */
    --color-text-black: #000;
    --color-text-white: #fff;
    --color-text-black-light: #666666;
    --color-text-dark-light: #8F8F8F;
    --color-text-dark-medium: #6D6D6D;
    --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
    --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));
  
    --color-text-title-primary: #BF59ED;
    --color-text-title-secondary: #BF59ED;
    --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));
  
    --color-background-footer-primary: #F2F3FF;
    --color-background-footer-secondary: #CCCDD7; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;
}

body{ background: var(--color-background); }

main{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 20%;
}

/* Container de consultas */
#consultasContainer {
    margin: 20px auto;
    max-width: 800px;
    background: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    margin-bottom: 30px;
}

.btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Item de consulta */
.consulta-item {
 
    border: 1px solid var(--color-border);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
}

/* Estilos do botão "Mais Detalhes" */
.detalhes-btn {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    background: var(--color-button-background);
    color: var(--color-text-black);
    border-color: var(--color-primary);
    border-radius: 24px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
    cursor: pointer;
    transition: box-shadow 1s ease, padding 1s ease, margin-right 1s ease, background-color 1s ease, color 0.2s ease;
}

.detalhes-btn:hover {
    background-color: var(--color-primary);  /* Fica roxo ao passar o mouse */
    color: var(--color-white);  /* Texto branco */
    padding: 15px 40px;
    margin-right: 20px;
    box-shadow: var(--box-shadow-hover);
}

/* Detalhes da consulta */
.consulta-detalhes {
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    text-align: left;
    display: none;
}

/* Título dos detalhes */
.consulta-detalhes h2 {
    font-size: 28px;
    color: var(--color-primary);
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

/* Parágrafos nos detalhes */
.consulta-detalhes p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.8;
}

/* Destacar labels */
.consulta-detalhes p strong {
    font-weight: bold;
    color: var(--color-primary);
}

/* Botão de "Voltar" */
.voltar-btn {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    background: var(--color-button-background);
    color: var(--color-text-black);
    border-color: var(--color-primary);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
    cursor: pointer;
    transition: box-shadow 1s ease, padding 1s ease, margin-right 1s ease, background-color 1s ease, color 0.2s ease;
}

.voltar-btn:hover {
    background-color: var(--color-primary);  /* Fica roxo ao passar o mouse */
    color: var(--color-white);  /* Texto branco */
    padding: 15px 40px;
    margin-right: 20px;
    box-shadow: var(--box-shadow-hover);
}

/* Estilo do botão "Confirmar Agendamento" */
.confirmar-agendamento  {

    width: 100%;  /* Faz com que os botões ocupem toda a largura */
    text-align: center;
    justify-content: center;  /* Alinha os botões no centro */
    display: flex;  
}

.confirmar-btn {
    padding: 15px 80px;
    background: var(--color-background);
    color: var(--color-text-black);
    box-shadow: var(--box-shadow);
    border-color: var(--color-primary);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 1s ease, padding 1s ease, margin-right 1s ease;


}

.confirmar-btn:hover {
    padding: 15px 50px;
    box-shadow: var(--box-shadow-hover);

}

.reset-agendamento {
    display:flex;  /* Alinha os botões em linha */
    justify-content: right;  /* Espaço entre os botões */
    width: 90%;  /* Faz com que os botões ocupem toda a largura */
    text-align: center;
}

.reset-btn {
    padding: 15px 80px;
    background: var(--color-background);
    color: var(--color-text-black);
    box-shadow: var(--box-shadow);
    border-color: var(--color-primary);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 1s ease, padding 1s ease, margin-right 1s ease;
}

.reset-btn:hover {
    padding: 15px 50px;
    margin-right: 20px;
    box-shadow: var(--box-shadow-hover);
}
