@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
    --color-primary: #c458f5;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #242424;
    --color-background: #fff;
    --color-border-line: #E2E6EA;
    --color-button-backgroud: #fafefd;
    --color-background-footer: var(--footer-gradiente);
    --card-border-radius: 8px;
    --color-light: rgba(132, 139, 200, 0.1);
    --box-shadow: 0 0.5rem 5rem var(--color-light);
    --line-box-shadow: 0 0.8rem 2rem var(--color-dark);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
  
    /* Gradiente Colors */
    --color-text-black: #000;
    --color-text-white: #fff;
    --color-text-black-light: #666666;
    --color-text-dark-light: #8F8F8F;
    --color-text-dark-medium: #6D6D6D;
    --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
    --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));
  
    --color-text-title-primary: #BF59ED;
    --color-text-title-secondary: #BF59ED;
    --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));
  
    --color-background-footer-primary: #F2F3FF;
    --color-background-footer-secondary: #CCCDD7; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;
}

body { background-color: var(--color-background); }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
}

.welcome-text {
    color: var(--color-primary);
    font-size: 72px;
    font-weight: 300;
    margin-top: 80px;
}

.description {
    width: 900px;
    font-size: 18px;
    font-weight: 400px;
    color: var(--color-text-dark-medium);
    margin-top: 50px;
    letter-spacing: 0.7px;
    line-height: 2;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 500px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: var(--color-background);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.7s ease;
}

.login-box:hover{
    box-shadow: var(--box-shadow-hover);
}

.login-box h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    color: var(--color-text-black);
}

.login-box p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
    color: var(--color-text-dark-light);
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: 1px solid var(--color-border-line);
    border-radius: 4px;
}

.login-box .session {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0;
}

.login-box input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    border: 1px solid var(--color-border-line);
    box-sizing: border-box;
    top: 0;
}

.login-box input[type="checkbox"]:checked {
    background: var(--color-primary);
}

.login-box label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-black);
    margin-bottom: 10px;
}

.login-box button {
    margin-top: 20px;
    border: 0;
    outline: 0;
    padding: 15px 70px;
    border-radius: 8px;
    color: var(--color-text-white);
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
    transition: box-shadow 1s ease, padding 0.5s ease;
    cursor: pointer;
}

.login-box button:hover {
    box-shadow: var(--box-shadow-hover);
    padding: 15px 40px;
}